*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.a1{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-image: url(https://png.pngtree.com/back_origin_pic/04/34/06/9a08ddcd8d9a9062208a14613a95bad0.jpg);
   background-position: center;
   background-repeat: no-repeat;
}
.a1 h1{
	width: 120px;
	height: 6vh;
	margin-left: 650px;
	text-align: center;
	padding-top: 25px;
	color:black;
	border-radius: 30px;
	cursor: pointer;
}
.a1 p{
	color:black;
	font-size: 25px;
	margin: 50px;
	
	
}
